.post {
	width: fit-content;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 16px;
	margin-bottom: 16px;
	background-color: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease-out;

	.post-header {
		display: flex;
		align-items: center;
		margin-bottom: 8px;

		.user-avatar {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			margin-right: 8px;
		}

		.user-data {
			flex: 1;
			display: flex;
			flex-direction: column;

			div{
				display: flex;
				flex-direction: row;
				gap: 30px;

				.user-name {
					font-weight: bold;
				}

				span svg{
					width: 16px;
				}
			}

			.timestamp {
				font-size: 0.8rem;
			}
		}

		.others {
			align-self: center;
			
			button{
				display: flex;
				position: relative;

				.hide-label{
					display: none;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1000;
					padding: 10px 20px;
					background-color: rgb(197, 197, 197);
				}

				&:hover{
					.hide-label{
						display: inline-flex;
						transform: translateX(-80%);
						border-radius: 10px;

						span{
							width: 100px;
						}
					}
				}
			}
		}
	}

	.post-description {
		margin-bottom: 16px;
		font-size: 14px;
		color: #333;
	}



	.post-actions {
		display: flex;
		gap: 32px;
		margin-bottom: 16px;
		margin-top: 16px;
		align-items: center;

		button {
			display: flex;
			align-items: center;
			background: none;
			border: none;
			cursor: pointer;
			font-size: 14px;

			svg {
				margin-right: 4px;
			}
		}
	}

	.see-more {
		display: flex;
		flex-direction: row;
		font-style: italic;
		font-size: 0.8rem;
		font-weight: bold;
		color: #333;
		cursor: pointer;

		svg {
			width: 20px;
			height: 20px;
		}
	}
}
