.account {
	padding: 2rem;
	background-color: white;
	border-radius: 20px;
	margin-right: 1rem;
	height: 85vh;
	overflow-y: scroll;
	scrollbar-width: none;
	scroll-behavior: smooth;

	.search-bar {
		display: flex;
		align-items: center;
		background: #f2f5f7;
		padding: 0.5rem 1rem;
		border-radius: 8px;
		margin-bottom: 1.5rem;

		input {
			flex: 1;
			margin-left: 0.5rem;
			border: none;
			outline: none;
			background: transparent;
			font-size: 1rem;
		}
	}

	.account-container {
		display: flex;
		gap: 2rem;
		transition: all 0.4s ease;
	}

	.user-list {
		flex: 1;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(160px, auto));
		gap: 16px;
		padding: 2px;
		overflow: auto;
		scrollbar-width: none;
		transition: all 0.4s ease;

		// &.shrinked {
		// 	flex: 0.65;
		// }

		.user-card {
			display: flex;
			flex-direction: row;
			gap: 10px;
			align-items: center;
			background: #fff;
			border: 1px solid #ddd;
			padding: 10px;
			border-radius: 8px;
			cursor: pointer;
			transition: transform 0.2s ease;
      height: 80px;

			&:hover {
				transform: scale(1.03);
				background: #f9f9f9;
			}

			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}

			span {
				font-weight: 500;
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100%;
			}
		}
	}

	.user-detail {
		width: 0;
		opacity: 0;
		overflow: hidden;
		transform: translateX(100%);
		transition: all 0.4s ease;
		background: #fafafa;
		border: 1px solid #ddd;
		padding: 1.5rem;
		border-radius: 8px;
		height: 70vh;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&.expanded {
			width: 35%;
			opacity: 1;
			transform: translateX(0);
		}

		img {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			align-self: center;
		}

		h3 {
			margin-top: 1rem;
			text-align: center;
			align-self: center;
			font-weight: bold;
		}

		.actions {
			display: inline-flex;
			justify-content: space-between;
			width: 100%;
			margin-top: auto;

			button {
				display: inline-flex;
				gap: 10px;
				justify-content: center;
				padding: 10px;
				width: 120px;
				border-radius: 10px;
			}

			.ban-btn {
				background-color: red;
			}

			.warn-btn {
				background-color: yellow;
			}
		}
	}
}
